

body {
    margin: auto;
    overflow: hidden;
    background: black;
}

.pixi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*.sneakers-title {*/
/*    font-size: 24px;*/
/*    fill: #000;*/
/*}*/

.house {
    max-width: 50px;
    max-height: 50px;
}

.modal-content {
    background-color: white;
    border: 1px solid #000;
    padding: 20px;
}
